<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Superjulietti</title>
    <script src="https://kit.fontawesome.com/38cdbe4f3f.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/css/app.css">
  </head>
  <body>

    <div id="app">
      <!-- VUE APP   -->


      <!-- NAV -->
      <div class="nav_container">
        <nav id="main_nav" class="jl_container">
          <div>
            <a id="back_button" href="" v-if="toggleFeedback" @click="toggleFunction"><i class="fas fa-arrow-left"></i></a>
            <a id="back_button" href="" v-if="toggleContact" @click="toggleContactFunction"><i class="fas fa-arrow-left"></i></a>
            <a id="back_button" href="" v-if="toggleMail" @click="toggleMailFunction"><i class="fas fa-arrow-left"></i></a>
            <img src="logo_sj.jpg" alt="">
          </div>
          <div id="counter">
            <span class="views">Visualizzazioni <strong>9.705.{{Math.floor(views)}}</strong> </span>
            <span>Valutazione Clienti: <strong>4,9 / 5</strong>  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
          </div>
        </nav>
      </div>
      <div style="height:95px">

      </div>


        <div class="uber_container" v-if="toggle">

        <div style="background-color: #D4FEC9">

          <div id="jumbotron" class="jl_container">
            <div class="wrap">
              <div id="jumbo_left">
                <h1>affetta le tue verdure in pochi secondi.</h1>
                <hr>
                <h2>Crea subito piatti sani e super gustosi!</h2>
                <div class="jumbo_btn_wrap">
                  <a class="garanzia_button button" href="#">Garanzia 30 giorni SODDISFATTI O RIMBORSATI</a>
                </div>
                <div class="jumbo_btn_wrap">
                  <div class="wrap">
                    <!-- <a class="orange_button" href="#">ordina ora</a>
                    <div class="round_icon">
                  </div> -->
                  <div class="pulse_button">
                    <a @click="toggleMailFunction"><strong>ORDINA ORA</strong><span class="icona_freccia">
                      <i class="fas fa-arrow-right"></i>
                    </span> </a>
                  </div>
                </div>
                <div class="wrap">
                  <div class="pulse_button">
                    <a @click="toggleContactFunction" ><strong>CONTATTACI</strong><span class="icona_freccia">
                      <i class="fas fa-arrow-right"></i>
                    </span> </a>
                  </div>
                </div>
              </div>
            </div>
            <div id="jumbo_right">
              <div class="">
                <img src="sj_head.png" alt="">
              </div>
            </div>
          </div>
        </div>
        </div>
          <!-- JUMBOTRON -->



          <div class="subjumbo jl_container">
          <div class="row">
            <div class="col-md-3 mb-2">
              <div class="card px-2">
                <span class="star_border"></span>
                <h4 class="text-uppercase mt-3">sicuro e facile da usare</h4>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="card px-2">
                <span class="star_border"></span>
                <h4 class="text-uppercase mt-3">affetta qualsiasi verdura</h4>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="card px-2">
                <span class="star_border"></span>
                <h4 class="text-uppercase mt-3">2 lame in acciaio inossiabile</h4>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="card px-2">
                <span class="star_border"></span>
                <h4 class="text-uppercase mt-3">recipiente salva freschezza</h4>
              </div>
            </div>

          </div>
        </div>
        <!-- FORM CONTACT SECTION -->
        <section id="form_contact" >
          <div class="jl_container">
            <div class="card">
              <div class="row p-2">
                <div class="col-md-6 image text-center">
                  <img class="img-responsive" src="dist/img/sj_head.png" alt="">
                </div>
                <div class="col-md-6 text-center ">
                  <h4 class="text-uppercase text-bolder">approfitta della super promozione del mese! 2 super julietti al prezzo di uno</h4>
                  <span class="prezzo_originale">99,80€</span>
                  <span class="sconto">-50%</span>
                  <span class="icona_freccia"><i class="fas fa-arrow-right"></i></span>
                  <span class="prezzo_finale">49,90€</span>
                  <form>
                    <div class="form-group mt-3">
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nome e Cognome">
                      <hr>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Numero di telefono">
                    </div>
                    <div class="spedizione text-uppercase text-white   mt-3 py-1">
                      <i class="fas fa-truck-moving text-left"></i>
                      <h4 class="text-uppercase text-center"> Spedizione in 24 ore! </h4>
                    </div>
                    <div class="pagamento text-uppercase text-center py-1">PAGAMENTO IN CONTANTI AL CORRIERE</div>
                    <div class="pulse_button">
                      <a class="submit_btn my-2 text-uppercase" type="submit"><strong>avanti</strong><span class="icona_freccia">
                        <i class="fas fa-arrow-right"></i>
                      </span> </a>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita velit asperiores tempore quae delectus adipisci minus beatae, modi accusamus culpa! Recusandae nemo alias omnis vel. Facilis.</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </section>
        <!-- /FORM CONTACT SECTION -->


        <!-- UN NUOVO MODO PREPARA VERDURE -->
          <section id="prep_ver" >
          <div class="jl_container">
            <div class="row p-2">
              <div class="col-md-6 image text-center">
                <img class="img-responsive" src="dist/img/img001.jpg" alt="">
              </div>
              <div class="col-md-6">
                <h4 class="text-uppercase">un nuovo modo di preparare le verdure</h4>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis officiis quos totam obcaecati ab quisquam cum, nemo facilis nulla quae! Doloribus a deserunt similique at id eius sequi quaerat omnis facere quis, neque libero in aut itaque totam quibusdam pariatur!</p><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis officiis quos totam obcaecati ab quisquam cum, nemo facilis nulla quae! Doloribus a deserunt similique at id eius sequi quaerat omnis facere quis, neque libero in aut itaque totam quibusdam pariatur!</p>

              </div>
            </div>
          </div>
        </section>
        <!-- /UN NUOVO MODO PREPARA VERDURE -->
        <div style="background-color: #D4FEC9">
          <section id="video_section" class="jl_container">
            <div class="video_box">
              <video  autoplay loop muted>
                <source src="video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="video_text">
                <span class="video_row"><h3>ORDINANDO SUBITO IL KIT SUPER JULIETTI RICEVERAI A CASA TUA:</h3></span>
                <span class="video_row"><div class="video_badge">1</div>1 MANOVELLA per affettare senza fatica ogni verdura</span>
                <span class="video_row"><div class="video_badge">2</div>2 LAME SPECIALI IN ACCIAIO INOSSIDABILE per realizzare spirali perfette</span>
                <span class="video_row"><div class="video_badge">3</div>1 TAPPO SALV-FRESCHEZZA per conservare i tuoi piatti</span>
                <span class="video_row"><div class="video_badge">4</div>1 RECIPIENTE AD ALTA CAPACITA' per portare le tue verdure sempre cont te, anche in ufficio!</span>
              </div>

            </section>
            <div class="video_banner">
              LIBERA LA TUA CREATIVITA’ IN CUCINA CON PIATTI FRESCHI E SALUTARI!
            </div>
        </div>

          <section id="carousel_section" class="jl_container">
            <carousel2></carousel2>


          </section>
        <div class="carousel_contact_button_2">
            <div class="jumbo_btn_wrap">
              <div class="wrap">
                <!-- <a class="orange_button" href="#">ordina ora</a>
                <div class="round_icon">
              </div> -->
              <div class="pulse_button">
                <a @click="toggleContactFunction"><strong>ORDINA ORA</strong><span class="icona_freccia">
                  <i class="fas fa-arrow-right"></i>
                </span> </a>
              </div>
            </div>
            <div class="wrap">
              <div class="pulse_button">
                <a ><strong>CONTATTACI</strong><span class="icona_freccia">
                  <i class="fas fa-arrow-right"></i>
                </span> </a>
              </div>
            </div>
          </div>

        </div>
        <div style="background-color: #eaeaea">
          <section id="feedback_section" class="jl_container">
            <h2>RECENSIONI</h2>
            <div class="feedback_container">
              <div class="left">
                <div class="feedback_card">

                  <span class="card_title">Recensioni Clienti <br> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (583)</span>

                  <h4>4,9 su 5 stelle</h4>

                  <span>
                    5 
                    <div>
                      <div style="width:90.3%"></div>
                    </div>
                    90,3%
                  </span>

                  <span>
                    4 
                    <div>
                      <div style="width:6.5%"></div>
                    </div>
                    06,5%
                  </span>
                  <span>
                    3 
                    <div>
                      <div style="width:2.8%"></div>
                    </div>
                    02,8%
                  </span>
                  <span>
                    2 
                    <div>
                      <div style="width:0.2%"></div>
                    </div>
                    00,2%
                  </span>
                  <span>
                    1 
                    <div>
                      <div style="width:0.2%"></div>
                    </div>
                    00,2%
                  </span>
                  <div id="pulse_button_feedback">
                    <a @click="toggleFunction"><strong>LEGGI TUTTE</strong><span class="icona_freccia">
                      <i class="fas fa-arrow-right"></i>
                    </span> </a>
                  </div>
                </div>
              </div>
              <div class="right">
                <carousel id="feedback_carousel"></carousel>
              </div>
            </div>
          </section>
        </div>


        </div>





        <div id="feedback_container" v-if="toggleFeedback" class="jl_container">

          <div class="feedback_row">
            <div class="">
              <img src="img/user8.jpg" alt="">
              <div class="wrap">

                <h3>SANDRA BONZI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Mi sono innamorata di questa affetta verdure!</h3>
            <span>5 Aprile 2021</span>
            <p>Mi sono innamorata di questa affetta verdure! Da quando l’ho presa ho ricominciato a mangiare più sano perché riesco ad affettare le verdure in pochi secondi, creando piatti molto originali. Poi è davvero semplice anche da lavare perché va in lavastoviglie. Lo consiglio!</p>
            <carousel3></carousel3>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user3.jpg" alt="">
              <div class="wrap">

                <h3>ANNA MARIA OMBRINI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star gray"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Super Julietti ci aiuta a cucinare in modo divertente! </h3>
            <span>4 Aprile 2021</span>
            <p>Da diversi anni ho iniziato una dieta vegetariana insieme a mia figlia più grande e la Super Julietti ci aiuta a cucinare in modo divertente! Abbiamo provato diverse ricette, come gli spaghetti di zucchine e le patate a spirale. Davvero eccezionali!</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user16.jpg" alt="">
              <div class="wrap">

                <h3>FRANCESCA MORETTI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">E’ uno strumento completo, si gira senza far fatica e affetti di tutto! </h3>
            <span>2 Aprile 2021</span>
            <p> Ho scoperto Super Julietti grazie a una mia amica che mi aveva invitato a cena servendomi degli spaghetti di zucchine. Ho deciso di comprarlo anche io e sono super soddisfatta! E’ uno strumento completo, si gira senza far fatica e affetti di tutto!</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user2.jpg" alt="">
              <div class="wrap">

                <h3>SILVIA TOMEI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Bellissimo accessorio da avere!</h3>
            <span>1 Aprile 2021</span>
            <p>Bellissimo accessorio da avere, soprattutto se si ha poco tempo da dedicare alla cucina. In pochi secondi riesci a preparare le verdure alla julienne o a rondelle, in più il contenitore è pratico per tenere tutto in frigo. Lo consiglio. </p>
            <carousel4></carousel4>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user11.jpg" alt="">
              <div class="wrap">

                <h3>ANDREA LURGO</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Strumento molto pratico soprattutto per preparare carote o zucchine</h3>
            <span>27 Marzo 2021</span>
            <p>Strumento molto pratico soprattutto per preparare carote o zucchine o affettare le cipolle in poco tempo. Lo utilizzo soprattutto per preparare insalatone o contorni, ma ho scoperto anche la possibilità di fare spaghetti di zucchine. Se non l’avete fatto, provateli!</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user4.jpg" alt="">
              <div class="wrap">

                <h3>ROBERTA BELTRAMI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star gray"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">E’ divertente e le sue forme hanno conquistato i miei bambini. Lo adorano!</h3>
            <span>27 Marzo 2021</span>
            <p>Mi ha salvato la vita! Ogni volta perdevo tantissimo tempo a preparare le verdure in modo ‘accettabile’ per i miei figli ma con il Super Giletti ogni volta è diventata un’avventura. E’ divertente e le sue forme hanno conquistato i miei bambini. Lo adorano!</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user12.jpg" alt="">
              <div class="wrap">

                <h3>FABRIZIO COLA </h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Ne ho provati diversi, ma nessuno è così facile da utilizzare</h3>
            <span>25 Marzo 2021</span>
            <p>Praticissimo per preparare le verdure al volo. Le lame in acciaio inossidabile si possono cambiare con semplicità, sono facile da pulire e tagliano ogni tipo di verdura. Ne ho provati diversi, ma nessuno è così facile da utilizzare. Stra-consigliato</p>
            <carousel5></carousel5>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user11.jpg" alt="">
              <div class="wrap">

                <h3>LUCIA MORASCHETTI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Ne ho provati diversi, ma nessuno è così facile da utilizzare</h3>
            <span>25 Marzo 2021</span>
            <p>Affettatrice a spirale comoda da usare con patate, zucchine, pomodori, cipolle e carote (che amo tantissimo alla julienne!!!!). La manopola è semplice da girare e non fai per niente fatica. Il rapporto qualità prezzo secondo me è ottimo, anche perché ne ho presi due al prezzo di uno e sono eccezionali!</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user13.jpg" alt="">
              <div class="wrap">

                <h3>CARLOTTA PAGANI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Veloce, leggero, facile da usare e da pulire.</h3>
            <span>24 Marzo 2021</span>
            <p> Veloce, leggero, facile da usare e da pulire. Super Julietti è stato una vera scoperta. Lo uso per fare spaghetti di verdura, fare rondelle da mettere su torte salate, ma anche per preparare contorni e le patate in maniera artistica. I miei ospiti a cena restano sempre senza parole.</p>
            <carousel6></carousel6>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user9.jpg" alt="">
              <div class="wrap">

                <h3>ILARIA DESSENA</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star gray"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Arrivato questa mattina e l ho già usato per preparare il pranzo</h3>
            <span>22 Marzo 2021</span>
            <p> Arrivato questa mattina e l ho già usato per preparare il pranzo. Ho fatto insalatone con carote alla julienne e zucchine. Affetta tutto in modo veloce e non fai fatica perché giri solo la manovella. FANTASTICO. </p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user7.jpg" alt="">
              <div class="wrap">

                <h3>EMMA PADALINA </h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Dal primo impatto sembra cmq molto resistente</h3>
            <span>21 Marzo 2021</span>
            <p> Lo aspettavo ormai da due giorni e quando il corriere me l’ha portato a casa quasi l’ho abbracciatooooo. Contavo tanto su Super Julietti per preparare la cena con i suoceri e oggi farò qualche prova tecnica. Dal primo impatto sembra cmq molto resistente.</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user6.jpg" alt="">
              <div class="wrap">

                <h3>LUISA ACCORTO</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Utile davvero tanto anche per preparare chips di mele per i bambini</h3>
            <span>20 Marzo 2021</span>
            <p>  Spedizione veloce, ho pagato alla consegna e ho approfittato del 2x1 per dividere la spesa con mia mamma. Utile davvero tanto anche per preparare chips di mele per i bambini. Si usa con facilità e una volta sistemata la verdura la possono usare anche i piccoli perché è molto sicuro girare la manovella!!</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user5.jpg" alt="">
              <div class="wrap">

                <h3>ANNAMARIA RASCHI </h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Bellissimi piatti e molto originali, effetto sorpresa assicurato!!</h3>
            <span>16 Marzo 2021</span>
            <p>Bell’invenzione! E’ facile da usare, taglia tutte le verdure (almeno quelle che ho provato fino ad ora ;) ) e mi ha fatto fare bella figura con le mie compagne di yoga. Bellissimi piatti e molto originali, effetto sorpresa assicurato!! </p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user1.jpg" alt="">
              <div class="wrap">

                <h3>LUCREZIA ORFANINI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star gray"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">E’ comodo e non ingombra nemmeno un po’. Lo consiglio</h3>
            <span>16 Marzo 2021</span>
            <p> Ho sempre visto in tv tutti quei piatti carini, affettati in modo perfetto e ho sempre pensato che sarebbe servito un super chef per farli. Invece su internet ho trovato questo aggeggino che fa tutto con una manovella. E’ comodo e non ingombra nemmeno un po’. Lo consiglio   </p>
            <carousel7></carousel7>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user10.jpg" alt="">
              <div class="wrap">

                <h3>ROBERTTO NENCIONI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Comodo e permette di variare un po’ il menù. Idea molto simpatica.</h3>
            <span>15 Marzo 2021</span>
            <p> Il regalo più azzeccato per mia moglie è stato questo. Mi stava facendo i buchi da un po’, l’ho ammetto, così ne ho comprati due (uno per lei e uno lo abbiamo dato a nostra figlia all’Università). Comodo e permette di variare un po’ il menù. Idea molto simpatica.</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user14.jpg" alt="">
              <div class="wrap">

                <h3>LAURA TURINI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Ho già provato con carote, zucchine e cipolle. Risultati super!!!</h3>
            <span>15 Marzo 2021</span>
            <p>Veloce da usare e per realizzare piatti vegani è una vera comodità! Finalmente posso scatenare la fantasia e affettare in pochi secondi senza diventare matta. Ho già provato con carote, zucchine e cipolle. Risultati super!!!</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user15.jpg" alt="">
              <div class="wrap">

                <h3>SIMONA VALENTINI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Comodo comodissimo!!!</h3>
            <span>12 Marzo 2021</span>
            <p>Comodo comodissimo!!! Ho sempre detestato pulire le verdure e con questo attrezzo faccio tutto in pochi secondi. Consigliato da una mia collega (sempre sul pezzo), io mi trovo molto molto bene. </p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user16.jpg" alt="">
              <div class="wrap">

                <h3>GIADA MANCINI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Penso che questo Super Julietti sia un’idea stratosferica</h3>
            <span>12 Marzo 2021</span>
            <p>Penso che questo Super Julietti sia un’idea stratosferica. Arrivato ieri è molto intuitivo. Basta inserire la carota, zucchina o quello che vi piace e girare la manovella per tagliare tutto a fettine in pochissimo tempo. Grazie per permettermi di mangiare sano.</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user7.jpg" alt="">
              <div class="wrap">

                <h3>MARIA ADANI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Il miglior affetta verdure di sempre!</h3>
            <span>9 Marzo 2021</span>
            <p>Il miglior affetta verdure di sempre! Ne ho provati diversi, anche quelli che si comprano al mercato, ma si rompevano dopo due volte. Questo lo sto usando da tre mesi ed è perfetto come il primo giorno.</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user1.jpg" alt="">
              <div class="wrap">

                <h3>GIULIA GRASSI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Penso che questo Super Julietti sia un’idea stratosferica</h3>
            <span>9 Marzo 2021</span>
            <p>La dieta mi stava uccidendo perché campavo a insalate. Ora invece con Super Julietti preparo dei piatti interessanti e originali in poco tempo. Buoni buonissimi anche gli spaghetti di zucchine che pubblicizzano tanto. Li ho pure provati! Ecco qui…</p>
            <carousel8></carousel8>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user4.jpg" alt="">
              <div class="wrap">

                <h3>ANNA PIANELLA</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Molto molto utile e si usa con facilità</h3>
            <span>6 Marzo 2021</span>
            <p>Pacchetto arrivato tutto intero! Molto molto utile e si usa con facilità. Già provato e funziona facilmente. Pensavo si facesse fatica ad affettare o girare la monopola ma non è così. Grazie per questa invenzione super perché posso cucinare sano.</p>
          </div>
          <div class="feedback_row">
            <div class="">
              <img src="img/user6.jpg" alt="">
              <div class="wrap">

                <h3>ALBA RICCI</h3>
                <span class="star_wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <span class="verified">Acquisto verificato</span>
              </div>
            </div>
            <h3 class="description">Bell’idea, consiglio di provare</h3>
            <span>3 Marzo 2021</span>
            <p> Appena arrivato ho fatto le zucchine a spaghetto e mi sono piaciute tantissimo. Sono riuscita a far mangiare la verdura ai miei figli, mai successo prima. Sembra quasi un miracoloooooo. Bell’idea, consiglio di provare</p>
          </div>

        </div>

        <!-- FORM PAGE -->
        <section id="form_contact_page" v-if="toggleContact">
          <div class="jl_container">
            <div class="card">
              <div class="row p-2">
                <div class="col-md-6 image text-center">
                  <img class="img-responsive" src="dist/img/sj_head.png" alt="">
                </div>
                <div class="col-md-6 text-center ">
                  <h4 class="text-uppercase text-bolder">approfitta della super promozione del mese! 2 super julietti al prezzo di uno</h4>
                  <span class="prezzo_originale">99,80€</span>
                  <span class="sconto">-50%</span>
                  <span class="icona_freccia"><i class="fas fa-arrow-right"></i></span>
                  <span class="prezzo_finale">49,90€</span>
                  <form>
                    <div class="form-group mt-3">
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nome e Cognome">
                      <hr>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Numero di telefono">
                    </div>
                    <div class="spedizione text-uppercase text-white   mt-3 py-1">
                      <i class="fas fa-truck-moving text-left"></i>
                      <h4 class="text-uppercase text-center"> Spedizione in 24 ore! </h4>
                    </div>
                    <div class="pagamento text-uppercase text-center py-1">PAGAMENTO IN CONTANTI AL CORRIERE</div>
                    <div class="pulse_button">
                      <a class="submit_btn my-2 text-uppercase" type="submit"><strong>avanti</strong><span class="icona_freccia">
                        <i class="fas fa-arrow-right"></i>
                      </span> </a>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita velit asperiores tempore quae delectus adipisci minus beatae, modi accusamus culpa! Recusandae nemo alias omnis vel. Facilis.</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- FORM oreder SECTION -->
        <section id="form_contact" v-if="toggleMail" >
          <div class="jl_container">
            <div class="card">
              <div class="row p-2">

                <div class="col-md-12 text-center ">
                  <h4 class="text-uppercase text-bolder"><strong>completa l'ordine di super julietti</strong></h4>

                  <form>
                    <div class="form-row row">
                      <div class="form-group col-md-9">
                        <input type="text" class="form-control" id="inputAdress" placeholder="Indirizzo">
                      </div>
                      <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="inputAdressCivico" placeholder="N. Civico">
                      </div>
                    </div>
                    <hr>
                    <div class="form-row row">
                      <div class="form-group col-md-9">
                        <input type="text" class="form-control" id="inputCity" placeholder="Città">
                      </div>
                      <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="inputCap" placeholder="CAP">
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <input type="text" class="form-control" id="inputNote" placeholder="Eventuali note per corriere">
                    </div>
                    <hr>
                    <div class="jumbo_btn_wrap">
                      <a class="garanzia_button button" href="#">Garanzia 30 giorni SODDISFATTI O RIMBORSATI</a>
                    </div>
                    <div class="spedizione text-uppercase text-white mt-3 py-3">
                      <i class="fas fa-truck-moving "></i>
                      <h4 class="text-uppercase text-center"> Spedizione in 24 ore! </h4>
                    </div>
                    <div class="pagamento text-uppercase text-center py-1">PAGAMENTO IN CONTANTI AL CORRIERE</div>
                    <div class="pulse_button">
                      <a class="submit_btn my-2 text-uppercase" type="submit"><strong>avanti</strong><span class="icona_freccia">
                        <i class="fas fa-arrow-right"></i>
                      </span> </a>
                    </div>
                    <p>*spese di spedizione 6,95€</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </section>
        <!-- /FORM order SECTION -->



        <footer>
            <div class="footer_top">
              © 2019 Super Julietti - Tutti i diritti riservati. <br>
              Dalia S.r.l. - Sede Legale: Strada dell'Assenzio 11 - Serravalle RSM - C.OP. 28103
            </div>
            <hr>
            <div class="footer_bottom">
              <div class="jumbo_btn_wrap" v-if="toggle">
                <div class="wrap">
                  <!-- <a class="orange_button" href="#">ordina ora</a>
                  <div class="round_icon">
                  </div> -->
                  <div class="pulse_button">
                      <a @click="toggleMailFunction"><strong>ORDINA ORA</strong><span class="icona_freccia">
                          <i class="fas fa-arrow-right"></i>
                      </span> </a>
                  </div>
                </div>
                <div class="wrap">
                  <div class="pulse_button">
                      <a @click="toggleContactFunction"><strong>CONTATTACI</strong><span class="icona_freccia">
                          <i class="fas fa-arrow-right"></i>
                      </span> </a>
                  </div>
                </div>
              </div>


            </div>
          </footer>


    </div>

    <script src="/dist/js/app.js" charset="utf-8"></script>
  </body>
</html>
