/* FEEDBACK SECTION */
#feedback_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  background-color: #EAEAEA;
  h2 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 1.3em;
    font-weight: 900;
    color: #2c5e53;
    border-bottom: 1px solid #85c495;
    margin: 20px 0; 
  }
  .feedback_container {
    display: flex;
    width: 100%;
    .left{
      width: 33.3%;
      padding: 0 10px;
      .feedback_card {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
      }
    }
    .right {
      width: 66.6%;
    }
  }
}
#feedback_carousel {
  .slide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start!important;
    width: 378px!important;
    margin: 0 10px;
    background-color: white;
    padding: 20px;
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 0px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
      .star_wrap {
        color: #FAD345;
        .gray {
          color: #EAEAEA;
        }
      }
    }
  }
}
.hooper {
  height: 340px !important;
}


.feedback_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  .card_title {
    display: block;
    font-size: 23px;
    font-weight: bold;
    i {
      color: #FAD345;
    }
  }
  h4 {
    font-size: 20px;
  }
  span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    div {
      width: 55%;
      background-color: #EAEAEA;
      div {
        height: 100%;
        background-color: #FAD345;
      }
    }
  }

}
#pulse_button_feedback{
    position: relative;
    margin: auto;
    a{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        text-decoration: none;
        background-color: #fd9f29;
        width: 200px;
        color: #fff;
        font-size: 20px;
        border-radius: 12px;
        cursor: pointer;
        border: 0;
        display: inline-block;
        .icona_freccia{
          display: flex;
          justify-content: center;
          align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            color: black;
            font-size: 1rem;
            background-color: white;
        }
    }
}
