/* MAINNAV */
#main_nav {
  display: flex;
  align-items: center;
  height: 95px;
  background-color: white;
  border-bottom: 2px solid #b7cbb5;
  div{
    display: flex;
    align-items: center;
    height: 100%;
    img {
      height: 60px;
    }
  }
}
#back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #81C594;
  text-decoration: none;
  color: white;
}
