/* MAINNAV */
#main_nav {
  display: flex;
  align-items: center;
  height: 95px;
  background-color: white;
  border-bottom: 2px solid #b7cbb5;
  div{
    display: flex;
    align-items: center;
    height: 100%;
    img {
      height: 60px;
    }
  }
}
