/* MAINNAV */
.nav_container {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 2px solid #b7cbb5;
  z-index: 100;
}
#main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  background-color: white;
  div{
    display: flex;
    align-items: center;
    height: 100%;
    img {
      height: 60px;
    }
  }
}
#back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #81C594;
  text-decoration: none;
  color: white;
}
#main_nav {
  #counter {
    height: 70px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c5e53;
    background-color: #DAF1EB;
    border-radius: 10px;
    padding: 10px;
    .views {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid lightgrey;
    }
    i {
      color: #FAD345;
    }
  }
}
